h1{
	color:blue;
}


a{
	color: red;
}

a:hover{
	color:pink;
}

h2{
	border-left: 10px solid red;
	border-bottom: 10px solid red;
}

li{
	line-height: 1.5;
}

.wrong{
	text-decoration: line-through;
}
